html{background-color:RGB(42,42,42);}

body{background-color:RGB(42,42,42);
     background-repeat: no-repeat;	
     margin:auto;
     width:1100px;}
	  		   
#Menu{border:0px solid black;
      position:fixed;
	  left:0;
	  background-color:RGB(42,42,42);
	  outline-width:8px;
      outline-style:solid;
	  outline-color:RGB(42,42,42);
	  z-index:10;
	  width:100%;
	  max-width:100%;
	  min-width:1200px;}
	  
#Menu .stemaRO{ width:50px;
        height:70px;
        margin-left:-1cm;
		}
		
#Menu button.Menu_Button{width:4.9cm;
	               height:1cm;
				   background-color:RGB(3,146,214);
				   border:0px;
				   margin:0.3cm;
				   border-radius:30px/30px;
				   color:black;
				   font-size:20px;
				   }
				   
				
#Menu button.Menu_Button:hover{background: linear-gradient(to bottom right, blue,yellow,red);
				              cursor:pointer;}
#Menu button.Menu_Button:focus {outline:0;}
               		
#Menu .stemaCS{ width:60px;
        height:80px;
        margin-right:-1cm;
		}
				
#container{min-width:100px;}

#container .Title1{position:relative;
                    margin-top:cm;
	                font-family:Berlin Sans FB, Times New Roman;
                    font-size:20pt;
			        color:white;
                    width:100%;
                    z-index:1;
		    }
				
#container .slide{ 
	            height:15cm;
	            position:relative;
				top:-1.5cm;
				background-image:url("../images/Eftimie-Murgu1.jpg");
				background-size:100% 100%;
				background-repeat: no-repeat;
				border:3px solid black;
			    width:99.5%;
				}
	  				 
#container .Title2{position:relative;
	              top:-2.2cm;
                  font-family:Times New Roman;
		          font-size:15pt;
		          color:white;
		          vertical-align:middle;
		          padding-top:0.1px;
		          width:100%;
		          margin-bottom:-3cm;}
	
#container .Content{border:3px solid gray;
                    position:relative;		  
                    top:0cm;
                    background:linear-gradient(to bottom, RGB(31,72,148), RGB(4,153,68), RGB(4,116,153));
                    width:1080p;
                    font-family:Times New Roman;
                    font-size:25px;
                    text-align:justify;
		            padding:1cm;
                    color:white;
		           }

#container .Content .links{text-align: center;
                            color: white;}


#container .Content .links a{text-decoration: none;
                                color:white;}


#container .Content .links a:hover{text-decoration:underline;
                                    color:greenyellow;}


#container .Content .paragraf .alineat{padding-left: 1.5cm;}
	 
footer{border:1px solid black;
       margin-top:0.2cm;
	   margin-bottom:0.1cm;
	   background:linear-gradient(to left, black,lightblue,black);
	   text-align:center;
	   font-family:Arial Black;
	   font-size:15px;
	   padding:0.2cm;}  
	 
